<div class="page-container">
  <div class="lg-gray-container">
    <div class="title">Reset Password</div>
    <div class="firebase-container">
      <div class="authBlock">
        <p>Please enter your email address to request a password reset.</p>
        <div class="formGroup">
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #passwordResetEmail
            required
          />
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input
            type="submit"
            class="btn btnPrimary"
            value="Reset Password"
            (click)="authService.ForgotPassword(passwordResetEmail.value)"
          />
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Go back to <a class="redirect" routerLink="/sign-in">Log In</a></span
        >
      </div>
    </div>
  </div>
</div>
