<h2>Percent of Daily Nutritional Needs</h2>
<div>
  Number of Servings
  <input
    type="number"
    name="numServes"
    [ngModel]="numServes"
    (ngModelChange)="changeNumServes($event)"
    min="1"
  />
</div>
<figure id="bar"></figure>
<div class="container">
  <h1>Your Info</h1>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        class="form-control"
        id="age"
        required
        [(ngModel)]="userPhysical.age"
        name="age"
      />
    </div>
    <div class="form-group">
      <label for="sex">Sex</label>
      <select
        class="form-control"
        id="sex"
        required
        [(ngModel)]="userPhysical.sex"
        name="sex"
      >
        <option *ngFor="let sex of sexes" [value]="sex">{{ sex }}</option>
      </select>
    </div>
    <div>
      <div>
        <input
          type="radio"
          id="metric"
          name="units"
          value="Metric"
          [(ngModel)]="units"
        />
        <label for="metric">Metric</label>
      </div>
      <div>
        <input
          type="radio"
          id="imperial"
          name="units"
          value="Imperial"
          [(ngModel)]="units"
        />
        <label for="imperial">Imperial</label>
      </div>
    </div>
    <!-- <div class="hide" [class.show]="units === 'Metric'"> -->
    <div *ngIf="units === 'Metric'">
      <div class="form-group">
        <label for="height-cm">Height (cm)</label>
        <input
          type="number"
          class="form-control"
          id="height-cm"
          [attr.required]="units === 'Metric'"
          [(ngModel)]="userPhysical.metric.height"
          name="metric.height"
        />
      </div>
      <div class="form-group">
        <label for="weight-kg">Weight (kg)</label>
        <input
          type="number"
          class="form-control"
          id="weight-kg"
          [attr.required]="units === 'Metric'"
          [(ngModel)]="userPhysical.metric.weight"
          name="metric.weight"
        />
      </div>
    </div>
    <!-- <div class="hide" [class.show]="units === 'Imperial'"> -->
    <div *ngIf="units === 'Imperial'">
      <div class="form-group">
        <label for="height-ft">ft</label>
        <input
          type="number"
          class="form-control"
          id="height-ft"
          [attr.required]="units === 'Imperial'"
          [(ngModel)]="userPhysical.imperial.height.ft"
          name="imperial.height.ft"
        />
        Height
      </div>
      <div class="form-group">
        <label for="height-inch">in</label>
        <input
          type="number"
          class="form-control"
          id="height-inch"
          [attr.required]="units === 'Imperial'"
          [(ngModel)]="userPhysical.imperial.height.inch"
          name="imperial.height.inch"
        />
      </div>
      <div class="form-group">
        <label for="weight-lb">Weight (lbs)</label>
        <input
          type="number"
          class="form-control"
          id="weight-lb"
          [attr.required]="units === 'Imperial'"
          [(ngModel)]="userPhysical.imperial.weight"
          name="imperial.weight"
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!userForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>
