@import '../../styles.scss';

#input-container {
  display: flex;
  justify-content: center;

  #text-links {
    width: 100vw;
    height: 40vh;
    padding: 1vh 1vw;
    border-radius: 5px;
    background-color: white;
    border: 2.5px solid $gray;
  }

  #file-container {
    border-left: dashed 2.5px white;
    margin-left: 2.5vw;
    padding-left: 2.5vw;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
  }

  label {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }

  #file-upload {
    padding: 1vw;
  }
}

#links-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5vh;

  #links-table {
    tr {
      cursor: pointer;
    }

    .status {
      width: 1%;
      min-width: 1%;
      max-width: 1%;
      vertical-align: baseline;

      div {
        padding-top: 0.33rem;
      }
    }

    td.name {
      border-left: dashed 2.5px $gray;
    }

    .try-again {
      display: flex;
      align-items: center;

      .material-icons {
        cursor: pointer;
      }
    }
  }
}
