@import '../../styles.scss';

#input-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  #text-links {
    display: block;
    width: 60vw;
    height: 8vh;
    // padding: 1vh 1vw;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid $light-gray;
  }

  #convert-button {
    display: inline-block;
    height: 8vh;
    border-radius: 5px;
  }

  #file-container {
    border-left: dashed 1px $light-gray;
    margin-left: 2.5vw;
    padding-left: 2.5vw;
    width: 35%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 1vw;
  }

  label {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }

  #file-upload {
    padding: 1vw;
  }

}

#links-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5vh;

  #links-table {
    .status {
      width: 1%;
      min-width: 1%;
      max-width: 1%;
      vertical-align: baseline;

      div {
        padding-top: 0.33rem;
        display: flex;
        justify-content: center;
      }
    }

    th.name {
      display: flex;
      justify-content: center;
    }

    td.name {
      border-left: dashed 2.5px #ffffff;

      div {
        display: flex;
        align-items: center;
      }
    }

    .try-again {
      display: flex;
      align-items: center;

      button {
        font-size: 1rem;
        padding: 0.25vh 0.75vw;
        margin-top: 0;
        margin-right: 1vw;
      }

      svg {
        margin-right: 1.5vw;
      }
    }
  }
}

#recipeDropdownMenu {
  background-color: #ff3403;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.5vh 2.75vw;
  margin-top: 5vh;
  cursor: pointer;
  border: #ffffff 1px solid;
  border-radius: 10px;
}