@import '../../styles.scss';

th {
  color: #ffffff;
}

#ingredient-table {
  .recipe-text {
    width: 60%;
  }

  .working-text {
    width: 40%;
  }
}

.placeholder-name {
  display: flex;
  justify-content: flex-end;

  .delete-button {
    color: $red;
    cursor: pointer;
    margin-left: 1.25rem;
  }
}

#body-additional {
  display: flex;
  padding: 1vh;

  .modal-additional {
    padding: 1vh;
  }
}