@import '../styles.scss';

header {
  background-color: $orange;
  color: white;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;

  #account-circle {
    position: fixed;
    right: 5px;
    top: 2.5px;
  }

  #dropdown-container {
    position: fixed;
    right: 5px;
    top: 40px;
    border-radius: 10px;
    background-color: $off-gray;
    border: 5px solid white;

    .directToLogin > * {
      margin-bottom: 0.5rem;
    }
  }

  .title {
    font-size: 5.5rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2.5vw;
    text-shadow: 5px 2.5px $blue;
  }

  .subtitle {
    font-weight: bolder;
    font-size: 0.9rem;
    font-family: cursive;
    color: $blue;
    letter-spacing: 1px;
  }
}
