@import "../styles.scss";

header {
  background-color: $orange;
  color: $gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid $gray;
  font-size: 5.5rem;
  text-align: center;
  font-weight: 1000;
  letter-spacing: 2.5vw;
  text-shadow: 2.5px 2.5px $blue;
}

#moto-container {
  background-color: $blue;
  color: white;
  font-size: 2.5rem;
  padding: 5vh 5vw;
  min-height: 75vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  letter-spacing: 1px;
}

#input-container {
  display: flex;
  justify-content: center;

  #text-links {
    width: 100vw;
    height: 40vh;
    padding: 1vh 1vw;
    border-radius: 5px;
    background-color: $gray;
  }

  #file-container {
    border-left: dashed 2.5px $gray;
    margin-left: 2.5vw;
    padding-left: 2.5vw;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
  }

  label {
    font-size: 1rem;
  }

  #file-upload {
    padding: 1vw;
  }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        background-color: $orange;
        color: white;
        font-size: 1.66rem;
        padding: .5vh 2.75vw;
        margin-top: 5vh;
        cursor: pointer;
        border: $gray 1px solid;
        border-radius: 5px;
    }
}

#links-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5vh;

    table, th, td {
        border-collapse: collapse;
        width: 100%;
    }

    #links-table {
        padding: 2vw;
        border: 1px solid $gray;

        th {
          background-color: $orange;
          padding: 1.5rem;
        }

        td {
          background-color: $gray;
          font-size: 1.5rem;
          padding: 1vh 1vw;
          border-bottom: 1px solid gray;

          a {
            color: $blue;
          }
        }
    }
}
