<div class="page-container">
  <div class="page-title">{{ title }}</div>
  <div id="details-container">
    <div id="ingredients-container">
      <table>
        <thead>
          <th>Ingredients</th>
        </thead>
        <tbody>
          <tr
            *ngFor="let ingredient of recipeData?.data.ingredients"
            (click)="openIngredient()"
          >
            <td>{{ ingredient }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <thead>
          <th>Nutrition</th>
        </thead>
        <tbody>
          <tr *ngFor="let key of keys">
            <td>{{ sums[key].total }} {{ sums[key].niceName }}</td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="(ingredientNutrition | json) != '{}'">
        <thead>
          <th>Ingredient</th>
        </thead>
        <tbody>
          <tr *ngFor="let key of keys">
            <td>
              {{ ingredientSums[key].total }} {{ ingredientSums[key].niceName }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
