/* You can add global styles to this file, and also import other style files */
$blue: #5982aa;
$gray: #e8e8e8;
$off-gray: #dddddd;
$orange: #D24B4C;
$off-orange: #ea5455;
$error-red: #ea5455;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.error-container {
  display: flex;
  justify-content: center;

  div {
    background-color: $error-red;
    border: 2.5px white solid;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 5px;
    width: 70vw;
    font-size: 1.5rem;
  }
}

.textured-background {
  background:
    linear-gradient(135deg, $off-orange 25%, transparent 25%) 50px 0,
    linear-gradient(225deg, $off-orange 25%, transparent 25%) 50px 0,
    linear-gradient(315deg, $off-orange 25%, transparent 25%),
    linear-gradient(45deg, $off-orange 25%, transparent 25%);
  background-size: 175px 150px;
  background-color: $orange;
}
