/* You can add global styles to this file, and also import other style files */
$blue: #30a2cc;
$gray: #efefef;
$orange: #e33d26;
$off-orange: #e5503b;
$error-red: #ca594a;

.error-container {
  display: flex;
  justify-content: center;

  div {
    background-color: $error-red;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 5px;
    width: 70vw;
    font-size: 1.5rem;
  }
}

.textured-background {
  background:
    linear-gradient(135deg, $off-orange 25%, transparent 25%) 50px 0,
    linear-gradient(225deg, $off-orange 25%, transparent 25%) 50px 0,
    linear-gradient(315deg, $off-orange 25%, transparent 25%),
    linear-gradient(45deg, $off-orange 25%, transparent 25%);
  background-size: 15px 15px;
  background-color: $orange;
}
