/* You can add global styles to this file, and also import other style files */
$blue: #0250ff;
$orange: #ff3403;
$gray: #333333;
$light-gray: #e3e3e3;
$off-orange: #ea5455;
$error-red: #ea5455;

body {
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  box-shadow: rgba(255, 52, 3, 0.125) 2px 8px 10px;
  &:hover,
  &:active,
  &:focus {
    box-shadow: rgba(255, 52, 3, 0.125) 4px 16px 20px;
  }
}
header,
button,
input {
  box-shadow: rgba(0, 0, 0, 0.33) 2px 8px 10px;
  &:hover,
  &:active,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.33) 4px 16px 20px;
  }
}
header {
  margin-bottom: 3px;
}

.hide {
  display: none;
}
.show {
  display: block !important;
}

.error-container {
  display: block;
  justify-content: center;

  div {
    background-color: $orange;
    border: 2px #ffffff solid;
    margin-top: 3rem;
    padding: 0.25rem;
    border-radius: 5px;
    width: 55vw;
    font-size: 1.25rem;
    text-align: center;
  }
}

.page-container {
  background-color: #ffffff;
  color: $gray;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5vh 2.5vw;
  min-height: 75vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  letter-spacing: 1px;
}

.lg-container {
  padding: 2.5rem;
  border-radius: 10px;
  // border: 5px solid $gray;
}

.lg-gray-container {
  background-color: $light-gray;
  color: #000000;
  border-radius: 10px;
  border: 5px solid #ffffff;

  .title {
    background-color: $orange;
    color: #ffffff;
    padding: 0.5rem 2.5rem;
    font-size: 2rem;
    letter-spacing: 2.5px;
    font-weight: 900;
  }
}

.page-title {
  color: $orange;
  font-weight: 900;
  letter-spacing: 2.5px;
  text-shadow: 2.5px 1.5px #ffffff;
  text-decoration: underline;
  font-size: 2rem;
}

.pointer {
  cursor: pointer;
}

/* Button Styling */
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    margin-right: 0.5vw;
  }
}

input {
  border-radius: 5px;
  padding: 2.5px;
  border-color: #ffffff;
}

button,
.btn {
  display: flex;
  align-items: center;
  background-color: $orange;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5vh 2.75vw;
  margin-top: 5vh;
  cursor: pointer;
  border: #ffffff 1px solid;
  border-radius: 10px;
  // background: linear-gradient(135deg, $off-orange 25%, $orange 25%);

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }

  .button-icon {
    margin-right: 0.125vw;
    margin-top: 0.125vh;
  }
}

/* Table Styling */
table,
th,
td {
  border-collapse: collapse;
  width: 100%;
}

table {
  padding: 2vw;
  border: 2.5px solid $orange;
  border-radius: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  color: $gray;

  thead {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  th {
    background-color: $orange;
    font-size: 1.5rem;
    color: #ffffff;

    &:first-child {
      border-top-left-radius: 10px;
      padding-left: 0.5rem;
    }
    &:last-child {
      border-top-right-radius: 10px;
    }
  }

  td {
    background-color: #ffffff;
    font-size: 1rem;
    padding: 1vh 1vw;
    color: $orange;

    a {
      color: $blue;
      font-weight: 600;
    }
  }

  tr {
    border-bottom: 1px solid #ffffff;
    &:last-child {
      border-bottom: none;
    }
  }
}

/* Login Styles */
.firebase-container {
  padding: 0 2.5rem 2.5rem 2.5rem;
  cursor: default;

  > * {
    margin: 0.5rem;
  }

  button,
  a {
    cursor: pointer;
  }

  a,
  .redirectToLogin {
    font-size: 14px;
  }

  .formControl {
    margin-bottom: 0.5rem;
  }

  .btnPrimary {
    margin-top: 0;
    color: $orange;
    border: $orange 2.5px solid;
  }
}

.spinner-border {
  color: $orange;
}

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
